<div class="ui-grid-menu-button" ng-show="showGridMenuButton" >
  <div role='button'
       ui-grid-one-bind-id-grid="'grid-menu'"
       ui-grid-one-bind-aria-label="i18n.aria.buttonLabel"
       class="ui-grid-icon-container"
       ng-click="!grid.options.useCustomGridMenu && toggleMenu()"
       ng-keyDown="!grid.options.useCustomGridMenu && handleKeyDown($event)"
       aria-haspopup="true">
    <i class="ui-grid-icon-menu"></i>
  </div>
  <div ng-if="!grid.options.useCustomGridMenu" ui-grid-menu menu-items="menuItems"></div>
</div>
